{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">My Rmart!</h1>
        <p>My Rmart Pvt Ltd. is an Indian electronic commerce company based in Aligarh, India. Founded by Rishabh Pachori in March,2020.The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
  
  The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.Rmart also sells certain low-end products like USB cables under its in-house brand RmartBasics.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <img src="/media/shop/images/selling.jpg" width="200px" height="200px"/>
          <h2>Sell Locally in your city</h2>
          <p>Why sell on Rmart.in?
            Because you can showcase your products to crores of customers & businesses - 24 hours a day - on India's most visited shopping destination. More than 5 lakh businesses, big and small, sell on Rmart today. Start your selling journey with us and expand your business reach </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <img src="/media/shop/images/advertise.jpg" width="200px" height="200px"/>
          <h2>Advertise On Rmart</h2>
          <p>Sponsored Products are ads for individual product listings on Amazon. They appear on shopping results pages and product detail pages, helping drive sales and product visibility.Sponsored Brands showcase your brand and product portfolio. Featuring your brand logo, a custom headline, and up to 3 of your products, these ads appear in shopping results.
        </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <img src="/media/shop/images/smallbusiness.jpg" width="200px" height="200px"/>
          <h2>Supporting Small Business</h2>
          <p>Mother-daughter duo who are empowering artisans to show their skills
            Award winning business owners, the mother-daughter duo of Surprise Someone talk about how the business of upcycling has empowered women, artisans and those who haven't got a platform to show their skills.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  
  
  
  
  {% endblock %}